@page
@model DraxillFanside.Pages.AdminPanelModel
@{
    ViewData["Title"] = "Admin Panel";
}
<h2>Admin Panel</h2>

@if (Model.Users.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Username</th>
                <th>Role</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.Users)
            {
                <tr>
                    <td>@user.Username</td>
                    <td>@user.Role</td>
                    <td>
                        <form method="post" asp-page-handler="UpdateRole" style="margin: auto;">
                            <input type="hidden" name="username" value="@user.Username" />
                            <select name="newRole">
                                <option value="user">user</option>
                                <option value="admin">admin</option>
                            </select>
                            <button type="submit" class="btn btn-success">Manage Role</button>
                        </form>
                    </td>
                    <td>
                        <form method="post" asp-page-handler="Delete" style="margin: auto; padding: auto; display: flex;">
                            <input type="hidden" name="username" value="@user.Username" />
                            <button type="submit" class="btn btn-danger">Delete User</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No users found.</p>
}
